doctype html
html(ng-app)
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/angular.min.js')
    body
        block content

        .content(ng-controller='TestApp')
            img(src='/images/tweetalystpro.png')